<div>

  <div server-ng-if="trueCase">

    <ul>
      <li ng-repeat="el in elements">
        no bind-once, so no change should happen here
        <b>{{el.name}}</b> :  <span>{{el.desc}}</span>
      </li>

      <!-- li server-ng-repeat="el in elements" foo="bar" -->
<li server-ng-repeat="el in elements" foo="bar">
        <b>el1</b> :  <span>el1 desc</span>
      </li>
<li server-ng-repeat="el in elements" foo="bar">
        <b>el2</b> :  <span>el2 desc</span>
      </li>

    </ul>

    The following should bind with variables
    <div class="should-change">
    foooooooo
    bazzzzz
    </div>

    The following should bind with variables
    <div class="should-not-change">
      {{foo}}
      {{bar.baz}}
    </div>

    <div server-ng-include="&apos;include1.html&apos;">File Name 1
<div server-ng-if="trueCase">
  <ul>
    <!-- li server-ng-repeat="el in elements" a="1" b="2" -->
<li server-ng-repeat="el in elements" a="1" b="2">
      <b>el1</b> :  <span>el1 desc</span>
    </li>
<li server-ng-repeat="el in elements" a="1" b="2">
      <b>el2</b> :  <span>el2 desc</span>
    </li>

  </ul>
  YYYY
  foooooooo
  bazzzzz
</div>
</div>
    <div server-ng-include="&apos;include2.html&apos;">File Name 2
<div server-ng-if="trueCase">
  <ul>
    <!-- li server-ng-repeat="el in elements" c="1" d="2" -->
<li server-ng-repeat="el in elements" c="1" d="2">
      <b>el1</b> :  <span>el1 desc</span>
    </li>
<li server-ng-repeat="el in elements" c="1" d="2">
      <b>el2</b> :  <span>el2 desc</span>
    </li>

  </ul>
  YYYY
  foooooooo
  bazzzzz
</div>
</div>
    <div ng-include="&apos;no-bind-once-no-change.html&apos;"></div>
  </div>

  <div class="should-change" server-ng-if="falseCase"></div>

  <div ng-if="falseCase" class="should-not-change">
    I should be seen here since ther is no bind-once.
  </div>

</div>
